body,
p,
span,
html,
img,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
*,
ul,
li,
ol,
input,
form,
header,
head,
footer,
main,
section,
div,
video,
article,
table,
td,
th,
menu,
nav,
video,
time,
output,
audio,
summary,
code,
address,
blockquote,
code {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
}
textarea {
  outline: none;
}
